.mo-loading-slip-block {
  i {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 0;
    left: 0;
    -webkit-animation: slip-block 1.8s infinite ease-in-out;
    animation: slip-block 1.8s infinite ease-in-out;
    &:nth-child(2) {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }
  }
}

@-webkit-keyframes slip-block {
  25% { -webkit-transform: translateX(100%) rotate(-90deg) scale(0.5); }
  50% { -webkit-transform: translateX(100%) translateY(100%) rotate(-180deg); }
  75% { -webkit-transform: translateX(0px) translateY(100%) rotate(-270deg) scale(0.5); }
  100% { -webkit-transform: rotate(-360deg); }
}
 
@keyframes slip-block {
  25% {
    transform: translateX(100%) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(100%) rotate(-90deg) scale(0.5);
  } 
  50% {
    transform: translateX(100%) translateY(100%) rotate(-180deg);
    -webkit-transform: translateX(100%) translateY(100%) rotate(-180deg);
  } 
  75% {
    transform: translateX(0px) translateY(100%) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(100%) rotate(-270deg) scale(0.5);
  } 
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}